ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
}
.active{
    background-color: #04AA6D;
}
.logo{
    font-size: 25px;
    font-weight: bold;
}
.right{
    float: right;
}
@media screen and (max-width: 600px) {
    ul li.right, 
    ul li {
        float: none;
    }
}
@media screen and (max-width: 600px) {
    ul li a {
        text-align: left;
    }
}
@media screen and (max-width: 600px) {
    .logo {
        text-align: center;
        float: none;
    }
}
@media screen and (max-width: 600px) {
    ul {
        text-align: center;
    }
}
@media screen and (max-width: 600px) {
    ul li a {
        padding: 10px;
    }
}

.active-link{
    background-color: #ff5733;
}