nav{
  display: flex;
  gap: 20px;
  background-color:chocolate;
  padding: 10px;
  color: aqua;
  font-weight: bold;
}

link{
  text-decoration: none;
  color: black;
}

link:hover{
  color: blue;
}

li{
  list-style: none;
  display: inline;
  margin-right: 15px;
}

li a{
  text-decoration: none;
  color: black;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}